body{
    background-color: white;
    padding: 0%;
    margin: 0%;
}
.navbar ul{
    padding: 0%;
    margin: 0;
    background-color: #FFFFFF;
    list-style-type: none;
    border-bottom: 2px solid black;
    position: fixed;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0%;
}
.navbar li{
    display: inline-block;
    margin-top: 10px;
    text-indent: 30px;

    
}
.navbar li a{
    display: block;
    color: #333333;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}
.navbar li a:hover{
    text-decoration: underline;
    color: black;
}
.banner{
    background-color: antiquewhite;
    border-bottom: 2px solid black;
}

li span{
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
    font-weight: 600;
}
li span:hover{
    text-decoration: underline;
}

.banner{
    padding-left: 80px;
    padding-top:200px;
    padding-bottom: 180px;
}
.banner .bannerheading h2{ 
    font-family: 'DM Serif Display', serif;
    font-size: 55px;
    margin: 0;
    padding: 0;
}

.banner p{
    font-size: 23px;
    font-family: 'Archivo', sans-serif;
    margin: 5px;
    margin-left: 0%;
}
.banner button{
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    border: 2px solid black;
    padding: 12px;
    margin-right: 10px;
}
.banner button span{
    color:#333333
}
.banner button:hover{
    background-color: black;
}
.banner button span:hover{
    color: white;
}
.banner img{
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 50px;
}
.underbannertext{
    text-align: center;
    /* padding: 0%; */
    /* margin: 0%; */
    padding-top: 40px;
}
.underbannertext h2{
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    margin: 0%;
    padding: 0%;
}
.underbannertext p{
    padding: 0%;
    margin: 0%;
    font-size: 26px;
    font-family: 'Archivo', sans-serif;
    color:#000000;
}
.underboxtext{
    text-align: center;
    padding-bottom: 50px;
}
.underboxtext h2{
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    padding: 0%;
    margin: 0%;

}
.underboxtext button{
    font-size: 15px;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    border: 2px solid black;
    padding: 12px;
    margin-top: 15px;
}
.underboxtext button span{
    color: #333333;
}
.underboxtext button:hover{
    background-color: black;
}
.underboxtext button span:hover{
    color: white;
}
footer{
    background-color: black;
    position: absolute;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
footer p{
    padding-top: 25px;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    color: white;
}
footer li{
    display: inline-block;
    text-indent: 30px;
}
footer a{
    font-family: 'Archivo', sans-serif;
    color: white;
    text-decoration: none;
}
footer ul{
    padding-bottom: 20px;
}
footer a:hover{
    text-decoration: underline;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    /* border-width: 50px; */
    padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
.grid > div {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    /* text-align: right; */
    font-family: 'Archivo', sans-serif;
   
    
}
.grid img{
    padding: 0%;
    margin: 0%;
    float: left;
    margin-left: 10px;
}






